{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque saepe, nihil vitae, ratione ipsum perspiciatis distinctio voluptas quod voluptates modi, temporibus sint laboriosam numquam excepturi veniam placeat alias deserunt minima a quasi. Mollitia unde explicabo sapiente error alias, libero commodi dolore, culpa repellendus aspernatur, veritatis esse ea nulla? Culpa, doloribus consequatur? Impedit enim blanditiis excepturi odit porro quibusdam mollitia accusamus corrupti et quae vero, nihil corporis sequi sint fuga delectus similique natus voluptatum id. Quaerat necessitatibus vitae perspiciatis similique facere.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}o